aiohttp==3.8.3
aiosignal==1.2.0
alabaster==0.7.12
apache-libcloud==3.6.1
appdirs==1.4.4
arrow==1.2.3
astroid==2.11.7
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bitarray==2.6.0
black==22.6.0
bleach==4.1.0
boto3==1.25.2
botocore==1.28.2
brotlipy==0.7.0
bs4==0.0.1
certifi==2022.9.24
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.5
configparser==5.3.0
cookiecutter==1.7.3
cryptography==38.0.1
cssselect==1.2.0
cytoolz==0.12.0
dateparser==1.1.2
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
demjson3==3.0.6
diff-match-patch==20200713
dill==0.3.4
docutils==0.18.1
entrypoints==0.4
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
facebook-scraper==0.2.59
fake-useragent==0.1.11
fastjsonschema==2.16.2
fasttext==0.9.2
fasttext-langdetect==1.0.3
filelock==3.8.0
flake8==4.0.1
frozenlist==1.3.1
geographiclib==1.52
geopy==2.2.0
hexbytes==0.3.0
idna==3.4
imagesize==1.4.1
importlib-metadata==4.11.3
importlib-resources==5.2.0
inflection==0.5.1
intervaltree==3.1.0
ipfshttpclient==0.8.0a2
ipykernel==6.15.2
ipython==7.31.1
ipython-genutils==0.2.0
iso-639==0.4.5
isort==5.9.3
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.16.0
jupyter_client==7.3.5
jupyter_core==4.11.1
jupyterlab-pygments==0.1.2
keyboard==0.13.5
keyring==23.4.0
lazy-object-proxy==1.6.0
lru-dict==1.1.8
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==0.8.4
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.5.0
nest-asyncio==1.5.5
netaddr==0.8.0
networkx==2.8.7
numpy==1.23.4
numpydoc==1.4.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
paramiko==2.8.1
parse==1.19.0
parsimonious==0.8.1
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.2
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
plyer==2.0.0
poyo==0.5.0
prompt-toolkit==3.0.20
protobuf==3.19.5
psutil==5.9.0
ptyprocess==0.7.0
pybind11==2.10.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.15.0
pydocstyle==6.1.1
pyee==8.2.2
pyflakes==2.4.0
Pygments==2.11.2
pylint==2.14.5
pyls-spyder==0.4.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.4
pyquery==1.4.3
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
python-slugify==5.0.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==302
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.3
qtconsole==5.3.2
QtPy==2.2.0
regex==2022.3.2
requests==2.28.1
requests-file==1.5.1
requests-html==0.10.0
rlp==2.0.1
rope==0.22.0
Rtree==0.9.7
s3transfer==0.6.0
scikit-learn==1.1.3
scipy==1.9.3
segtok==1.5.11
setuptools==63.4.1
shutils==0.1.0
sip==6.6.2
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
snscrape==0.4.3.20220106
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.3.3
spyder-kernels==2.3.3
tabulate==0.9.0
testpath==0.6.0
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==3.1.0
three-merge==0.1.1
tinycss==0.4
tldextract==3.4.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.1.1
typing_extensions==4.3.0
tzdata==2022.6
tzlocal==4.2
ujson==5.4.0
Unidecode==1.2.0
urllib3==1.26.12
varint==1.0.2
w3lib==2.0.1
watchdog==2.1.6
wcwidth==0.2.5
web3==5.31.1
webencodings==0.5.1
websockets==10.4
wget==3.2
whatthepatch==1.0.2
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
yake==0.4.8
yapf==0.31.0
yarl==1.8.1
zipp==3.8.0
