web3==5.31.1
aiohttp==3.8.3
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.*
attrs==22.1.0
base58==2.1.1
beautifulsoup4==4.11.*
bitarray==2.6.0
boto3==1.26.*
botocore==1.29.3
bs4==0.0.1
certifi==2022.9.*
charset-normalizer==2.1.*
click==8.1.3
cssselect==1.2.0
cytoolz==0.12.0
dateparser==1.1.3
demjson3==3.0.6
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
facebook-scraper==0.2.59
fake-useragent==0.1.*
fasttext==0.9.*
fasttext-langdetect==1.0.3
filelock==3.8.0
frozenlist==1.3.1
geographiclib==1.52
geopy==2.2.0
hexbytes==0.3.0
idna==3.4
importlib-metadata==5.0.*
ipfshttpclient==0.8.0a2
iso-639==0.4.5
jellyfish==0.9.*
jmespath==1.0.1
jsonschema==4.17.*
lru-dict==1.1.8
lxml==4.9.1
multiaddr==0.0.9
multidict==6.0.*
netaddr==0.8.0
networkx==2.8.*
numpy==1.*
pandas==1.*
parse==1.19.0
parsimonious==0.8.1
pip==22.3
protobuf==3.19.5
pybind11==2.10.1
pycryptodome==3.15.0
pyee==8.2.2
pyppeteer
pyquery==1.4.3
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests==2.28.*
requests-file==1.5.1
requests-html==0.10.0
rlp==2.0.1
s3transfer==0.6.0
scipy==1.9.*
segtok==1.5.11
setuptools==65.5.0
six==1.16.0
snscrape==0.4.3.*
soupsieve==2.3.2.post1
tabulate==0.9.0
tldextract==3.4.0
toolz==0.12.0
tqdm==4.64.*
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.12
varint==1.0.2
w3lib==2.0.1
websockets
wget==3.2
wheel==0.37.1
yake==0.4.8
yarl==1.8.1
zipp==3.10.0
