aiohttp==3.8.*
aiosignal==1.2.*
appdirs==1.4.*
async-timeout==4.*
attrs==22.*
base58==2.*
beautifulsoup4==4.*
bitarray==2.*
boto3==1.*
botocore==1.*
bs4==0.0.1
certifi==2022.9.*
charset-normalizer==2.*
click==8.*
cssselect==1.*
cytoolz==0.12.*
dateparser==1.1.*
demjson3==3.0.*
eth-abi==2.*
eth-account==0.5.*
eth-hash==0.5.*
eth-keyfile==0.5.*
eth-keys==0.3.*
eth-rlp==0.2.*
eth-typing==2.3.*
eth-utils==1.9.*
facebook-scraper==0.*
fake-useragent==0.1.*
fasttext==0.9.*
fasttext-langdetect==1.*
filelock==3.*
frozenlist==1.*
geographiclib==1.*
geopy==2.*
hexbytes==0.*
idna==3.*
importlib-metadata==5.*
ipfshttpclient==0.8.*
iso-639==0.4.*
jellyfish==0.9.*
jmespath==1.0.*
jsonschema==4.*
lru-dict==1.*
lxml==4.*
multiaddr==0.0.*
multidict==6.*
netaddr==0.8.*
networkx==2.8.*
numpy==1.23.*
pandas==1.5.*
parse==1.19.*
parsimonious==0.8.*
pip==22.*
protobuf==3.19.*
pybind11==2.10.*
pycryptodome==3.*
pyee==8.*
pyppeteer==1.0.*
pyquery==1.4.*
pyrsistent==0.19.*
PySocks==1.*
python-dateutil==2.*
pytz==2022.*
pytz-deprecation-shim==0.1.*
regex==2022.*
requests==2.28.*
requests-file==1.5.*
requests-html==0.10.*
rlp==2.*
s3transfer==0.6.*
scipy==1.9.*
segtok==1.5.*
setuptools==65.*
six==1.*
snscrape==0.4.*
soupsieve==2.3.*
tabulate==0.9.*
tldextract==3.4.*
toolz==0.12.*
tqdm==4.*
tzdata==2022.*
tzlocal==4.*
urllib3==1.*
varint==1.*
w3lib==2.*
web3==5.*
websockets==10.*
wget==3.*
wheel==0.*
yake==0.4.*
yarl==1.8.*
zipp==3.*
